<div class="container" id="book-margin-bottom">
	<div class="row" id="booking-margin-top">
			<div class="col-sm-3 col-md-3 col-xs-12 text-center">
				<img ng-src="{{movieDetail[movieId].image}}" class="book-img" />
			</div>
			<div class="col-sm-9 col-md-9 col-xs-12">
				<h3>{{ movieDetail[movieId].title }}</h3>
        <p><strong>Director :</strong> {{ movieDetail[movieId].Director }}</p>
       <div>
         <h5><strong>Synopsis</strong></h5><hr class="summary-hr-margin">
         <p>{{ movieDetail[movieId].summary }}</p>
       </div>
			</div>	
	</div>
	<div class="row text-center" id="day">
		<h3 class="text-center">Day</h3>
    <hr class="seperator">
		<div class="col-md-3" ng-repeat="day in newArryDay">
			<button type="button" ng-click="showTime(day)" class="btn btn-primary">{{day.week}} 
      <span>{{day.date}}</span></button>
		</div>
		
	</div>
	<div class="row text-center">
		<h3 class="text-center">Show Time</h3>
    <hr class="seperator">
		<div class="col-md-4" ng-repeat="time in mtime">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#seatingModal" ng-click="movieTime(time)">{{time}}</button>
		</div>
	</div>

 <!-- Modal -->
  <div class="modal fade" id="seatingModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Seating Class</h4>
        </div>
        <div class="modal-body">
          <form>
          	<div class="radio">
      <label><input type="radio" ng-model="result" name="rdoResult" ng-value="'gold'">Gold Class - <span class="price">Rs 150</span></label>
    </div>
    <div class="radio">
      <label><input type="radio" ng-model="result" name="rdoResult" ng-value="'silver'">Silver Class - <span class="price">Rs 100</span></label>
    </div>
      
          </form>
        </div>
        <div class="alert alert-danger" ng-if="seatingClassEmpty">
         <button type="button" class="close" ng-click="cancel()">×</button>
        <strong>Alert!</strong> Please choose a class
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="seatingClass()" data-dismiss="modal">Continue</button>
        </div>
      </div>
    </div>
  </div>

</div>